 .logo
    { 
     display: flex;
     padding-top: 40px;
    }
 .nav
    {
        flex: 4;
    }

.mack-img
{
    width: 50%;
}
.container-2
{
   display: flex;
   align-items: center;
}
.mackbook
{
    padding-right: 100px;
}

.rotate-product
{
        font-family: 'Poppins', sans-serif;
        color: #DDDDDD; 
        transform: rotate(269deg);
        position: absolute;
        margin-left: 400px;
}

.mackbook p
{
    padding-top: 25px;
    padding-bottom: 25px;
}
.grid
{
  display: flex;
  background-image: radial-gradient(#DDDDDD 25%, transparent 0);
  background-size: 30px 30px;
  height: 190px;
  width: 200px;
  position: absolute;
  margin-top: 550px;
  top: 0;
  left: 0;
}
.line 
{
    width: 45px;
    height: 12px;
    border-radius: 30px;
    background: linear-gradient(90deg,#FF9C35 0%, #FFD019 100%);
}

.line-1
{
    width: 16px;
    height: 12px;
    border-radius: 30px;
    background-color: #CECECE;
    margin-left: 10px;
}

.liner
{
    margin-left: 500px;
    display: flex;
    position: absolute;
}
.see-phone
{
    margin-top: 128px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
#see
{
   color: #FF9D00;
}
.row
{
    text-align: center;
}
.card
{
    box-shadow: 11px 13px 30px -2px rgba(161, 149, 149, 0.336);
    border-radius: 11px 11px 11px 11px;
}
.card img
{
    padding: 12%;
}

.type
{
    padding-top: 210px;   
}

.line-v2
{
    font-family: 'Poppins', sans-serif;
    border: none;
    height: 9.73px;
    width: 135.53px;
    border-radius: 10px;
    background: linear-gradient(to left,#FF9C35 ,#FFD019);
}
.Categories
    {
        position: absolute;
        display: flex;
        
    }
    .bag
    {
        margin-top: 230px;
        margin-left: 160px;
    }
    .perfume
    { 
        margin-left: 330px;
        margin-top: 150px;  
    }
    .shoe
    {
       margin-top: 50px;
       margin-left: 330px;
        
    }
    .box
    {
        border-radius: 5px 0px 15px 0px;
        box-shadow: 3px 4px 13px 2px rgba(64,64,64,0.53);     
    }
    .box-2
    {
        border-radius: 0px 5px 0px 15px;
        box-shadow: 3px 4px 13px 2px rgba(64,64,64,0.53); 
    }